C:\Users\phtso\source\repos\AvaliacaoSprint5\CidadesClientes API\CidadesClientes API\bin
C:\Users\phtso\source\repos\AvaliacaoSprint5\CidadesClientes API\CidadesClientes API\obj
C:\Users\phtso\source\repos\AvaliacaoSprint5\CidadesClientes API\CidadesClientesServices\bin
C:\Users\phtso\source\repos\AvaliacaoSprint5\CidadesClientes API\CidadesClientesServices\obj
C:\Users\phtso\source\repos\AvaliacaoSprint5\CidadesClientes API\TestesCidadesClientesAPI\bin
C:\Users\phtso\source\repos\AvaliacaoSprint5\CidadesClientes API\TestesCidadesClientesAPI\obj