\AvaliacaoSprint5\CidadesClientes API\CidadesClientes API\bin
\AvaliacaoSprint5\CidadesClientes API\CidadesClientes API\obj
\AvaliacaoSprint5\CidadesClientes API\CidadesClientesServices\bin
\AvaliacaoSprint5\CidadesClientes API\CidadesClientesServices\obj
\AvaliacaoSprint5\CidadesClientes API\TestesCidadesClientesAPI\bin
\AvaliacaoSprint5\CidadesClientes API\TestesCidadesClientesAPI\obj